.accommodationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-secondary)
  );
  color: var(--color-dark--1);
  padding-top: 6rem;
  padding-left: 6rem;
}

.accommodationContent {
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  /* max-width: 800px; */
  width: 100%;
  text-align: center;
}

.accommodationContent h2 {
  font-size: 2.4rem;
  color: var(--color-dark--2);
  margin-bottom: 1rem;
}

.accommodationContent p {
  font-size: 1.4rem;
  color: var(--color-dark--1);
  line-height: 1.8;
  margin-bottom: 2rem;
}

.accommodationForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.formGroup label {
  font-size: 1.2rem;
  color: var(--color-dark--2);
  font-weight: bold;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-light--1);
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--color-dark--1);
  background-color: #f9f9f9;
}

.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
  border-color: var(--color-primary);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submitButton {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--color-brand--1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--color-brand--2);
}

@media (max-width: 768px) {
  .accommodationContent {
    padding: 1.5rem;
  }

  .accommodationContent h2 {
    font-size: 2rem;
  }

  .accommodationContent p {
    font-size: 1.2rem;
  }

  .submitButton {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
  }
}
