/* Dashboard Layout */
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-secondary)
  );
  color: var(--color-dark--1);
  transition: margin-left 0.3s ease-in-out;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 2rem;
  width: 94%;
  height: 60%;
  gap: 2rem;
  margin-left: 40px;
  margin-top: 4rem;
}

.content {
  text-align: center;
  margin: 0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 1.5rem;
  color: var(--color-dark--1);
  margin-bottom: 2rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  ); /* Ensures responsive card layout */
  gap: 1.5rem;
  margin: 5rem; /* Adjusted margin for better spacing */
}

.card {
  padding: 1.5rem;
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px); /* Slight hover lift effect */
}

.card h3 {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 0.8rem;
}

.card p {
  font-size: 1rem;
  color: var(--color-dark--1);
  margin-bottom: 1rem;
}

.cardLink {
  display: inline-block;
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cardLink:hover {
  background-color: var(--color-primary--dark);
}

.footer {
  margin-top: 2rem;
  text-align: center;
}

.footer p {
  font-size: 1rem;
  color: var(--color-dark--2);
}

/* Sidebar Adjustment when toggled */
.dashboard.sidebarOpen {
  margin-left: 250px;
}

/* Responsive Styles */

/* Large screens (PC) */
@media (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  }

  .title {
    font-size: 3.5rem;
  }

  .description {
    font-size: 1.7rem;
  }
}

/* Medium screens (Tablets) */
@media (max-width: 1024px) and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .card {
    padding: 1.5rem;
  }
}

/* Small screens (Mobile phones) */
@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr; /* 1 card per row */
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .card {
    padding: 1.2rem;
  }

  .cardLink {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .footer p {
    font-size: 0.9rem;
  }
}
