/* Login Page Styling */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(
    to bottom right,
    var(--color-brand--1),
    var(--color-brand--2)
  );
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 100%;
  max-width: 36rem;
  background-color: var(--color-dark--2);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo img {
  max-width: 100px;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.4rem;
  color: var(--color-light--2);
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.6rem;
  color: var(--color-light--1);
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.input {
  width: 93%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: solid 2px;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: background-color 0.2s ease;
}

.input:focus {
  background-color: #fff;
  outline: none;
}

/* Button Styling */
.btnPrimary {
  padding: 1.2rem;
  width: 10rem;
  font-size: 1.6rem;
  background-color: var(--color-green); /* Adjust color as needed */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPrimary:hover {
  background-color: var(--color-brand--2); /* Adjust hover effect */
}

/* Header Styling */
.header {
  background-color: var(--color-dark--2);
  color: var(--color-cream);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-color: #006400; /* Green color */
  padding: 0;
}

.header h1 {
  font-size: 2.6rem;
  color: var(--color-cream);
  padding: 0;
}

.header p {
  font-size: 1.4rem;
  color: var(--color-light--2);
  padding: 0;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    padding: 1.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .input {
    font-size: 1.4rem;
  }

  button {
    font-size: 1.4rem;
  }
}
