@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

.profilePage {
  display: flex;
  flex-direction: column;
  /* height: 90vh; */
  background-color: var(--color-dark--0);
  color: var(--color-light--2);
  border: solid 2px;
}

.profileContainer {
  flex: 1;
  padding-top: 6rem;
  padding-left: 6rem;
  background-color: var(--color-dark--1);
  border: solid 2px;
  height: 90vh;
}

.profileHeader {
  background-color: var(--color-brand--1);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 15vh;
}

.profilePhoto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--color-light--3);
}

.cta {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-light--2);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
  transition: all 0.2s;
}

.cta:hover {
  background-color: var(--color-brand--1);
  color: #fff;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  background-color: var(--color-dark--0);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-brand--1);
}

.historyTable {
  width: 100%;
  border-collapse: collapse;
}

.historyTable th,
.historyTable td {
  padding: 1rem;
  text-align: left;
  border: 2px solid var(--color-green);
}

.historyTable th {
  background-color: var(--color-green);
  color: var(--color-cream);
}

.historyTable td {
  background-color: var(--color-dark--1);
}

.actionSection {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.actionButton {
  background-color: var(--color-brand--2);
  color: var(--color-light--2);
  padding: 1rem 1rem;
  border: 2px solid;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: var(--color-brand--1);
}
