/* Profile Container */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  background: linear-gradient(
    to bottom right,
    var(--color-primary-light),
    var(--color-secondary-light)
  );
  color: var(--color-dark--1);
  /* height: 100vh; */
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* max-width: 1200px; */
  background: #fff;
  /* padding: 1.5rem 2rem; */
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(96, 63, 63, 0.1);
  margin-bottom: 2rem;
  overflow: hidden;
  border: solid #006400;
}

.logoWrapper,
.studentPhotoWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
  width: 100px;
  height: auto;
}

.studentPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #006400; /* KASU Green */
}

.headerText {
  text-align: center;
  flex: 2;
  color: #006400;
}

.headerText h1 {
  font-size: 2rem;
  font-weight: bold;
}

.headerText h2,
.headerText h3 {
  font-size: 1.4rem;
  margin: 0.3rem 0;
}

.headerText h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

/* Table Section */
.tableContainer {
  width: 80%;
  /* max-width: 900px; */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  /* padding: 1.5rem; */
}

.studentTable {
  width: 100%;
  border-collapse: collapse;
}

.studentTable th,
.studentTable td {
  padding: 1.2rem 1.5rem;
  text-align: left;
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.studentTable th {
  background-color: #006400; /* KASU Green */
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.studentTable td {
  font-size: 1.3rem;
  color: #444444;
}

.studentTable a {
  color: #006400;
  text-decoration: none;
  font-weight: bold;
}

.studentTable a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .headerText h1 {
    font-size: 1.6rem;
  }

  .headerText h2,
  .headerText h3,
  .headerText h4 {
    font-size: 1.2rem;
  }

  .studentTable th,
  .studentTable td {
    font-size: 1.1rem;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 1rem;
    width: 70%;
    margin-left: 60px;
  }

  .headerText {
    margin-top: 1rem;
  }

  .studentTable th,
  .studentTable td {
    font-size: 1rem;
    padding: 0.8rem;
    width: 70%;
    margin-left: 60px;
  }
}
